* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

button {
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}